/*<!-- CSS to change background color of the page --> 
body {
	background-color: black;
}

<!-- Give all images the same margin on all sides --> 

<!-- Make text in an HTML element all uppercase --> 
p {
    text-transform: uppercase;
}

*/


body {
	background-image: url('images/drum.png');
    background-attachment:fixed;
    background-position: left top;
    position:absolute;
	height: 100%;
	width: 100%;
 
	
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
	color: white;
	z-index: 1010px;
	background-color: black;
	left: 40%;
    position: relative;

    height: 60px;
    width: 150px;
    text-align: center;
    line-height: 50px;
}